{% extends 'base/layout.html' %}
{% block main %}
    {% if user.is_student %}
    <p>Hi student</p>
    {% elif user.is_teacher %}
    <p>Hi professor</p>
    {% elif user.is_admin %}
    <p>Hi admin</p>
    {% endif %}

    <h5>Your Course List:</h5>
    <div class="divider"></div>
    {% for course in course_list %}
    <div class="section">
        <h6><a href="{% url 'course:detail' course.id %}">{{ course.course_name }}</a></h6>
    </div>
    <div class="divider"></div>
    {% endfor %}

{% endblock %}
