{% extends 'base/layout.html' %}
{% block main %}
<section style="display: flex; justify-content: end;">
    <a  href="{% url 'course:create' %}" class="btn">Add a Course</a>
</section>
<section>
    <ul class="collection">
        {% for course in course_list %}
            <li class="collection-item">
            <a href="{% url 'course:detail' course.pk %}">
                        <h5>{{ course.course_name }} ({{ course.course_number}})</h5>
                    </a>
                <p>{{ course.description }}</p>
                <p>Registered Number: {{ course.registered_students.all | length }}</p>
            </li>
        {% endfor %}
    </ul>
    {% include "components/paginator.html" %}
</section>
{% endblock %}