{% extends 'base/layout.html' %}
{% block button_header %}
    {% if user.is_admin or user.is_execitive %}
        <a  href="{% url 'course:create' %}" class="btn">新增課程</a>
    {% endif %}
{% endblock %}
{% block main %}
<section>
    <ul class="collection">
        {% for course in course_list %}
            <li class="collection-item">
            <a href="{% url 'course:detail' course.pk %}">
                        <h5>{{ course.course_name }} ({{ course.course_number}})</h5>
                    </a>
                <p>{{ course.description }}</p>
                <p>課程人數: {{ course.registered_students.all | length }}</p>
            </li>
        {% endfor %}
    </ul>
    {% include "components/paginator.html" %}
</section>
{% endblock %}