{% extends 'base/layout.html' %}
{% block main %}
<section style="display: flex; justify-content: end;">
    <!-- 
        TODO(2): Only the admin can see the add button. You can refer to what I do in another 
        template like templates/components/navbar.html.
        As a plus, you can also modify the view function to only allow admin to access 
        the webpage.
     -->
    {% if user.is_admin %} 
    <a  href="{% url 'course:create' %}" class="btn">Add a Course</a>
    {% endif %}
</section>
<section>
    <ul class="collection">
        {% for course in course_list %}
            <li class="collection-item">
            <a href="{% url 'course:detail' course.pk %}">
                        <h5>{{ course.course_name }} ({{ course.course_number}})</h5>
                    </a>
                <p>{{ course.description }}</p>
                <p>Registered Number: {{ course.registered_students.all | length }}</p>
            </li>
        {% endfor %}
    </ul>
    {% include "components/paginator.html" %}
</section>
{% endblock %}