{% extends "base/layout.html" %}
{% block main %}
    <div class="row">
        <div class="col m6 s12">
            <input id="student-number" type="text" placeholder="Enter student's sequence number">
            <button id="search" class="btn">Search</button>
            <div class="collection with-header" style="margin-top:25px;">
                <h4 class="collection-header">Results</h4>
                <div id="results-container" style="padding:5px;">
                </div>
            </div>
        </div>
        <div class="col m6 s12">
            <ul class="collection with-header">
                <li class="collection-header">
                    <h4>Registered Students</h4>
                </li>
                {% for student in student_list %}
                <li>
                    <a class="collection-item">{{ student.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
<script>
    $("#search").on('click', (event) => {
        const studentId = $("#student-number").val();
        const searchStudent = fetchSearchResults(studentId);
        searchStudent
            .then((res) => {
                return res.json();
            })
            .then((data) => {
                if (data.status == 'success') {
                    const { student, isRegistered } = data;
                    const htmlContent = `
                        <div class="collection-item">
                            <div>${student.name}
<button data-student-id="${student.pk}" href="#" class="secondary-content btn-small student-add-button" ${isRegistered
    ? 'disabled' : '' }>Add</button>
                            </div>
                        </div>
                    `;
                    $("#results-container").html(htmlContent);
                } else {
                    M.toast({html: data.message , classes: 'red'});
                }
            })
            .catch((err) => {
                console.log(err);
                M.toast({html: 'error' , classes: 'red'});
            });
    });

    $("#results-container").on('click', '.student-add-button', function(event){
        if (this.disabled == true) {
            return false;
        } else {
            const pk = $(this).data('student-id');
            const registerStudentToTheCourse = fetchManageStudentResults('add', pk);
            registerStudentToTheCourse
                .then((res) => {
                    return res.json();
                })
                .then((data) => {
                    if (data.status === 'success') {
                        this.disabled = true;
                        M.toast({html: data.status , classes: 'card-panel teal lighten-2'});
                    } else {
                        M.toast({html: data.message , classes: 'red'});
                    }
                })
                .catch((err) => {
                    console.log(err);
                    M.toast({html: 'error' , classes: 'red'});
                });
        };
    });

    function fetchSearchResults(studentId) {
        const request_url = `{% url 'course:student_search' pk %}?student=${studentId}`;
        const headers = new Headers();
        headers.append('Content-type', 'application/json');
        headers.append('Accept', 'application/json');

        const init = {
            method: 'GET',
            headers,
        };

        return fetch(request_url, init);
    }

    function fetchManageStudentResults(type, studentId) {
        const request_url = `{% url 'course:register' pk %}`;
        const method = type === 'add' ? 'POST' : 'DELETE';
        const csrfToken = getCSRFToken();
        const headers = new Headers();
        headers.append('Content-type', 'application/json');
        headers.append('Accept', 'application/json');
        headers.set('X-CSRFToken', csrfToken);

        const body = JSON.stringify({
            student: studentId,
        });

        const init = {
            method,
            headers,
            body,
        };

        return fetch(request_url, init);
    }
</script>
{% endblock %}