{% extends 'base/layout.html' %}

{% block main %}
    <h3><a href="{% url 'course:detail' subject.course.pk %}">{{ subject.course.course_name }}</a></h3>
    <h5>{{ subject.title }}</h5>
    {% if subject.grade_set %}
        <table>
            <thead>
                <tr>
                    <th>名稱</th>
                    <th>分數</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for grade in subject.grade_set.all %}
                <tr>
                    <td data-id="{{ grade.id }}">
                        {{ grade.student.name }}
                    </td>
                    <td data-id="{{ grade.id }}" class="score">
                        {{ grade.score }}
                    </td>
                    <td>
                        <a data-id="{{ grade.id }}" class="waves-effect waves-light btn edit-score">edit</a>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td><strong>平均</strong></td>
                    <td><strong id="subject-average">{{ subject.average }}</strong></td>
                </tr>
            </tbody>
        </table>
    {% else %}
        No results
    {% endif %}
<script>

    $('td').on('click', '.edit-score', function(event){
        event.preventDefault();
        const editId = $(event.target).data('id');
        const score = parseFloat($(`.score[data-id="${editId}"]`).html());
        $(event.target).toggleClass('submit-score edit-score').html('submit');
        $(`.score[data-id="${editId}"]`).html(`<input data-id="${editId}" type="number" value=${score} max="100" min="0" step="0.01">`);
    });

    $('td').on('click', '.submit-score', function(event){
        event.preventDefault();
        const editId = $(event.target).data('id');
        const newScore = $(`input[data-id="${editId}"]`).val();
        
        if(!newScore) {
            M.toast({ html: 'input is not a number.', classes: 'red'});
            return false;
        }
        if(newScore > 100 || newScore < 0) {
            M.toast({ html: 'input out of range.', classes: 'red'});
            return false;
        }
        
        const csrfToken = getCSRFToken();
        
        const body = JSON.stringify({
            score: newScore,
            pk: editId,
        });
        
        const headers = new Headers();
        headers.set('Content-Type', 'application/x-www-form-urlencoded');
        headers.set('X-CSRFToken', csrfToken);

        const postNewGrade = fetch('{% url "grade:edit"%}', {
            headers,
            method: 'POST',
            body,
        });

        postNewGrade
            .then((response)=>{
                return response.json();
            })
            .then((data) => {
                M.toast({html: data.status , classes: 'card-panel teal lighten-2'});
                $(`.score[data-id="${editId}"]`).html(data.score);
                $(event.target).toggleClass('submit-score edit-score').html('edit');
                $('#subject-average').html(data.new_average);
            })
            .catch((error) => {
                M.toast({ html: error, classes: 'red'});
            });
    });
</script>
{% endblock %}