{% extends 'base/layout.html' %}

{% block main %}
<section style="display: flex; justify-content: end;">
    <!-- TODO(3) Only the admin can see the add student button too. -->
    {% if user.is_admin %}
    <a href="{% url 'student:create' %}" class="btn" style="margin-right:5px;">Add a Student</a>
    {% endif %}
</section>
<ul class="collection">
    {% for student in student_list %}
    <li class="collection-item">
        <a href="{% url 'student:detail' student.pk %}">{{ student.name }}</a>
    </li>
    {% endfor %}
</ul>
{% include "components/paginator.html" %}
{% endblock %}