{% extends 'base/layout.html' %}
{% block main %}
<div class="card">
    <div class="card-content">
    {% if user.is_admin %}
            <section style="display: flex; justify-content: end;">
                <a href="{% url 'student:update' student.pk %}" class="btn" style="margin-right:5px;">編輯</a>
                <a href="{% url 'auth:change-password' student.user.pk %}" class="btn" style="margin-right:5px;">更改密碼</a>
            </section>
            <h4>{{ student.name }}</h4>
        {% endif %}
    </div>
    <div class="card-tabs">
        <ul class="tabs tabs-fixed-width">
            <li class="tab"><a href="#student-info">詳細</a></li>
            <li class="tab"><a href="#student-course">參與課程</a></li>
        </ul>
    </div>
    <div class="card-content grey lighten-4">
        <div id="student-info">
            <div class="divider"></div>
            <div class="section">
                <h5>地址</h5>
                <p>{{ student.address }}</p>
            </div>
            <div class="divider"></div>
            <div class="section">
                <h5>Email</h5>
                <p>{{ student.email }}</p>
            </div>
            <div class="divider"></div>
            <div class="section">
                <h5>電話號碼</h5>
                <p>{{ student.phone_number }}</p>
            </div>
            <div class="divider"></div>
            <div class="section">
                <h5>手機號碼</h5>
                <p>{{ student.cellphone_number }}</p>
            </div>
            <div class="divider"></div>
            <div class="section">
                <h5>註冊日期</h5>
                <p>{{ student.registered_date }}</p>
            </div>
        </div>
        <div id="student-course">
            {% for course in student.course_set.all %}
                <div class="collection">
                    <a class="collection-item" href="{% url 'course:detail' course.pk %}">{{ course.course_name }}</a>
                </div>
            {% endfor %}
        </div> 
    </div>
</div>

<script>
    const element = document.getElementsByClassName('tabs')[0];
    const instance = M.Tabs.init(element);
</script>
{% endblock %}