<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo right">Nccu Course</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            {% if user.is_authenticated %}
                {% if user.is_professor or user.is_admin %}
                    <li><a href="{% url 'course:list' %}">Courses</a></li>
                {% endif %}
                {% if user.is_student or user.is_admin %}
                    <li><a href="{% url 'student:list' %}">Students</a></li>
                {% endif %}
                    <li><a href="{% url 'auth:logout' %}">Log out</a></li>
            {% else %}
                <li><a href="{% url 'auth:login' %}">Log In</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
