<nav class="light-blue darken-3">
    <div class="nav-wrapper">
<!--  TODO(1): Change the route of the anchor tag to homepage by using django template url tag.
    You can refer to the link https://docs.djangoproject.com/en/2.1/ref/templates/builtins/#url.-->
        <a href="{% url 'homepage' %}" class="brand-logo right">Nccu Course</a>

        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <!-- TODO(2): Reference -->
            {% if user.is_authenticated %}
                {% if user.is_professor or user.is_admin %}
                    <li><a href="{% url 'course:list' %}">Courses</a></li>
                {% endif %}
                {% if user.is_student or user.is_admin %}
                    <li><a href="{% url 'student:list' %}">Students</a></li>
                {% endif %}
                    <li><a href="{% url 'auth:logout' %}">Log out</a></li>
            {% else %}
                <li><a href="{% url 'auth:login' %}">Log In</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
